---
import type { SelectProperty } from '../../../../../lib/interfaces.ts'
import {
  getPostsByTagAndPage,
  getRankedPosts,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../../../lib/notion/client.ts'
import Layout from '../../../../../layouts/Layout.astro'
import NoContents from '../../../../../components/NoContents.astro'
import PostDate from '../../../../../components/PostDate.astro'
import PostTags from '../../../../../components/PostTags.astro'
import PostTitle from '../../../../../components/PostTitle.astro'
import PostExcerpt from '../../../../../components/PostExcerpt.astro'
import ReadMoreLink from '../../../../../components/ReadMoreLink.astro'
import Pagination from '../../../../../components/Pagination.astro'
import BlogPostsLink from '../../../../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../../../../components/BlogTagsLink.astro'
import styles from '../../../../../styles/blog.module.css'
import '../../../../../styles/notion-color.css'
import Headline from '../../../../../components/Headline.astro'

export async function getStaticPaths() {
  const allTags = await getAllTags()

  let params = []

  await Promise.all(
    allTags.map((tag: SelectProperty) => {
      return getNumberOfPagesByTag(tag.name).then((numberOfPages: number) => {
        for (let i = 2; i <= numberOfPages; i++) {
          params.push({ params: { tag: tag.name, page: i.toString() } })
        }
      })
    }),
  )

  return params
}

const { tag, page } = Astro.params

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPostsByTagAndPage(tag, parseInt(page, 10)),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTag(tag),
])

const currentTag = posts[0].Tags.find((t) => t.name === tag)
---

<Layout
  title="CloudNative Days Blog"
  description="CloudNative Days実行委員会によるブログ"
  ogImage=""
>
  <Headline title={`${tag}`}>
    <p class="mt-4 text-lg text-black">
      タグ: {tag} (Page {page}/{numberOfPages})
    </p>
  </Headline>
  <div class="px-8 flex flex-wrap gap-5 max-w-7xl md:justify-center md:mx-auto">
    <main class="md:w-8/12 w-12/12 bg-white/60 backdrop-blur-sm rounded-xl p-6">
      {
        posts.length === 0 ? (
          <NoContents contents={posts} />
        ) : (
          posts.map((post) => (
            <div class="py-6">
              <div class={styles.post}>
                <div class="mb-3">
                  <PostDate post={post} />
                  <PostTitle post={post} enableLink={true} />
                  <div class="mb-2 border-b-2 border-gray-200" />
                  <PostTags post={post} enableLink={true} />
                </div>
                <PostExcerpt post={post} />
                <ReadMoreLink post={post} />
              </div>
            </div>
          ))
        )
      }

      <footer class="flex justify-center items-center mt-5">
        <Pagination
          tag={tag}
          currentPage={parseInt(page, 10)}
          numberOfPages={numberOfPages}
        />
      </footer>
    </main>

    <aside class="md:mt-0 md:ml-4 md:flex-auto w-12/12 bg-white/60 backdrop-blur-sm rounded-xl p-6 h-fit">
      <BlogPostsLink heading="Recommended" posts={rankedPosts} />
      <BlogTagsLink heading="Categories" tags={tags} />
    </aside>
  </div>
</Layout>
