---
import { Conferences } from "../data/conferences";
import Hero from '../components/Hero.astro';
import { talkMap } from "../data/talks";
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
	return Conferences.map((conference) => {
		return { params: { abbr: conference.abbr } }
	})
}
const { abbr } = Astro.params;
const conference = Conferences.find((conference) => conference.abbr == abbr )
const conferenceExists = conference != undefined
const talks = talkMap.get(abbr||"")

---

<Layout title="Welcome to Astro.">
	<main>
		{conferenceExists &&
			<Hero title={conference.name} href={"/" + abbr}>
				<p class="mt-4 text-lg text-gray-300">

				{conference.theme}
				</p>
				<p class="mt-4 text-lg text-gray-300 whitespace-pre-line">
					{conference.conferenceDays.filter((day) => !day.internal).map((day) => day.date).join(", ")}
				</p>
			</Hero>
			<section class="pb-20 bg-gray-300">
				<div class="container mx-auto px-4">
					<div class="flex flex-wrap">
						<ul>
							{talks?.map((talk) => {
								const url = `/${abbr}/talks/${talk.id}`
								return <li><a href={url}>{talk.title}</a></li>
							})}
						</ul>
					</div>
				</div>
			</section>
		}
	</main>
</Layout>
