---
import Navbar from "../components/Navbar.astro";
import {
  PUBLIC_SITE_TITLE,
} from "../server-constants";
export interface Props {
  title: string;
  description: string;
  url?: URL | undefined;
  ogImage: string;
}

const {
  title,
  description,
  url,
  ogImage,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="max-image-preview:large" />
		<meta name="description" content={description} />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={PUBLIC_SITE_TITLE} />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content={ogImage} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
		<script src="https://unpkg.com/video.js/dist/video.js"></script>
		<title>{title}</title>
	</head>
  <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-XDSEZ66VFX"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-XDSEZ66VFX");
  </script>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
